@model myfinance_web_dotnet.Models.PlanoContaModel

@{
  ViewData["Title"] = "Cadastro Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<div>
  <form asp-controller="PlanoConta" asp-action="Cadastrar" method="post">
    <input type="hidden"  asp-for="Id">

    <label>Descrição:</label>
    <input type="text" asp-for="Descricao"/> <br>

    <br>
    <label>Tipo:</label>
    <label>@Html.RadioButtonFor(m => m.Tipo, "D")Despesa</label>
    <label>@Html.RadioButtonFor(m => m.Tipo, "D")Receita</label>

    <br><br>

    <button type="submit" class="btn btn-block btn-success">Cadastrar</button>
  </form>
</div>